<div class="bottomAnim">
  <app-navbar></app-navbar>
  <!-- <div class="container">

  </div> -->
  <div class="card sbg-card margin-v-5 no-margin-top">
  </div>
  <div class="info-panel">

    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card text-white bg-info">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <button type="button" class="btn btn-primary btn-lg">Continue To Agent Potal</button>
      </div>
    </div>
  </div>

</div>
